# Auto detect text files and perform LF normalization
*         text=auto

# These files are text and should be normalized (convert crlf =&gt; lf)
*.ISO     text
*.R       text
*.amy     text
*.aux     text
*.bat     text
*.c       text
*.cmake   text
*.cmakein text
*.com     text
*.cpp     text
*.cs      text
*.csproj  text
*.css     text 
*.csv     text
*.cxx     text
*.dat     text
*.ddy     text
*.def     text
*.diff    text
*.dsp     text
*.dsw     text
*.epw     text
*.erb     text
*.err     text
*.file    text
*.gcc     text
*.h       text
*.hpp     text
*.htm     text
*.html    text
*.i       text
*.idd     text
*.idf     text
*.ies     text
*.ill     text
*.imf     text
*.in      text
*.iss     text
*.java    text
*.js      text
*.json    text
*.mak     text
*.manifest       text
*.map     text
*.md      text
*.mms     text
*.msc     text
*.natstepfilter  text
*.natvis  text
*.osc     text
*.osm     text
*.patch   text
*.plist   text
*.prj     text
*.py      text
*.qrc     text
*.qss     text
*.rb      text
*.rc      text
*.resx    text
*.settings       text
*.sgml    text
*.sh      text
*.sln     text
*.stat    text
*.sub     text
*.svg     text
*.tmp     text
*.txt     text
*.ui      text
*.vms     text
*.xml     text
*.yaml    text


# Images should be treated as binary
# (binary is a macro for -text -diff)
*.EAP     binary
*.bmp     binary
*.bz2     binary
*.db      binary
*.doc     binary
*.docx    binary
*.gif     binary
*.icns    binary
*.ico     binary
*.jpg     binary
*.osp     binary
*.otf     binary
*.pdf     binary
*.png     binary
*.pptx    binary
*.rsrc    binary
*.skp     binary
*.so      binary
*.snk     binary
*.sql     binary
*.style   binary
*.tiff    binary
*.ttf     binary
*.woff    binary
*.xlsx    binary
*.zip     binary
