.idea
.ruby-version
.bundle
test_gems
test_fails.txt
# Ignore build folders (at root level only)
/build*/
/debug*/
/release*/

developer/msvc/Visualizers/all_concat.natvis
.vscode/
.vs/
*.sublime-workspace
*.sublime-projet
*.cache
.clangd/
cppcheck.txt*
clang_format.patch

.DS_Store
__pycache__/
*.pyc

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/
junit.xml

.cppcheck*/

CMakeUserPresets.json
