.idea
.ruby-version
.bundle
test_fails.txt
/build/
/build_debug/
/build-debug/
/build_release/
/build-release/
/build_64/
/build-64/
/build-relwithdebinfo/
/build_relwithdebinfo//
/build_profile/
/build-profile/
/core-build/
/super-build/

*.sublime-workspace

*.sublime-project
cmake-build-debug
*.exe
*.msi

