stages:
- build_deploy
- testCTest
- testResources

build_deploy:windows:
  stage: build_deploy
  only:
  - triggers
  - master
  - iteration
  - develop
  tags:
  - windows
  script:
  - rd /s /q build
  - mkdir build
  - cd build
  - cmake -G "Visual Studio 12 2013 Win64" ../openstudiocore
  # PAT does not build in the OpenStudio CI, at the moment
  - cmake -DBUILD_CSHARP_BINDINGS=ON -DBUILD_DOCUMENTATION=ON -DBUILD_TESTING=ON -DBUILD_DVIEW=ON -DBUILD_OS_APP=ON -DBUILD_PACKAGE=ON -DBUILD_PAT=OFF -DCMAKE_BUILD_TYPE=Release -DCPACK_BINARY_DEB=OFF -DCPACK_BINARY_IFW=ON -DCPACK_BINARY_NSIS=OFF -DCPACK_BINARY_RPM=OFF -DCPACK_BINARY_STGZ=OFF -DCPACK_BINARY_TBZ2=OFF -DCPACK_BINARY_TGZ=OFF -DCPACK_BINARY_TXZ=OFF -DCPACK_BINARY_TZ=OFF  ../openstudiocore
  - cmake - ../openstudiocore
  - cmake --build . --config Release --target ALL_BUILD
  - cmake --build . --config Release --target ALL_BUILD
  - cmake --build . --config Release --target PACKAGE
 #- cmake --build . --config Release --target ALL_DOXYGEN # docs do not build without errors
  - cd build
  - aws s3 cp ./ s3://openstudio-builds/_CI/OpenStudio/ --recursive --exclude "*" --include "*.exe"
 #- cd /doc
 #- aws s3 cp ./ s3://openstudio-builds/_CI/OpenStudio/doc --recursive --exclude "*" --include "*.zip"
  retry: 1
  artifacts:
    expire_in: 24 hrs
    paths:
    - build/OpenStudio-*.exe
    - build/CPackConfig.cmake
    - build/CPackSourceConfig.cmake
    - build/CTestTestfile.cmake
    - build/OpenStudioCoreConfig.cmake
    - build/CTestTestfile.cmake
    - build/csharp/
    - build/embedded/
    - build/pat/
    - build/Products/
    - build/resources/
    - build/ruby/
    - build/sketchup_plugin/
    - build/src/
    - build/doc/OpenStudio-*.zip

build_deploy:mac:
  stage: build_deploy
  only:
  - triggers
  - master
  - iteration
  - develop
  tags:
  - mac
  script:
  - mkdir build
  - cd build
  - cmake -DOPENSSL_INCLUDE_DIR=/usr/bin/openssl -DBUILD_DVIEW=ON -DBUILD_OS_APP=ON -DBUILD_PACKAGE=ON -DBUILD_PAT=ON -DCMAKE_BUILD_TYPE=Release -DCPACK_BINARY_DEB=OFF -DCPACK_BINARY_IFW=ON -DCPACK_BINARY_NSIS=OFF -DCPACK_BINARY_RPM=OFF -DCPACK_BINARY_STGZ=OFF -DCPACK_BINARY_TBZ2=OFF -DCPACK_BINARY_TGZ=OFF -DCPACK_BINARY_TXZ=OFF -DCPACK_BINARY_TZ=OFF ../openstudiocore
  - make -j16 package
  - cd _CPack_Packages/Darwin/IFW
  - zip -r `ls -1 | grep OpenStudio-*.app | sed -e 's/\.app$//'`.zip OpenStudio-*.app
  - cd build/_CPack_Packages/Darwin/IFW
  - aws s3 cp ./ s3://openstudio-builds/_CI/OpenStudio/ --recursive --exclude "*" --include "*.zip"
  retry: 1

build_deploy:ubuntu:
  stage: build_deploy
  only:
  - triggers
  - master
  - iteration
  - develop
  tags:
  - ubuntu
  script:
  - mkdir build
  - cd build
  - cmake -DOPENSSL_INCLUDE_DIR=/usr/bin/openssl -DBUILD_DVIEW=ON -DBUILD_OS_APP=ON -DBUILD_PACKAGE=ON -DBUILD_PAT=OFF -DCMAKE_BUILD_TYPE=Release -DCPACK_BINARY_DEB=ON -DCPACK_BINARY_IFW=OFF -DCPACK_BINARY_NSIS=OFF -DCPACK_BINARY_RPM=OFF -DCPACK_BINARY_STGZ=OFF -DCPACK_BINARY_TBZ2=OFF -DCPACK_BINARY_TGZ=OFF -DCPACK_BINARY_TXZ=OFF -DCPACK_BINARY_TZ=OFF ../openstudiocore
  - make -j16 package
  - cd build
  - aws s3 cp ./ s3://openstudio-builds/_CI/OpenStudio/ --recursive --exclude "*" --include "*.deb"
  retry: 1

testCTest:windows:
  stage: testCTest
  only:
  - triggers
  - master
  - iteration
  - develop
  tags:
  - windows
  dependencies:
  - build_deploy:windows
  script:
  - cd build
  - dir
  - CTest

testResources:windows:
  stage: testResources
  only:
  - triggers
  - master
  - iteration
  - develop
  tags:
  - windows
  dependencies:
  - build_deploy:windows
  script:
  - "rmdir c:\\\\openstudio\\ /s /q"
  - cd build
  - dir
  - xcopy *.exe win.exe*
  - dir
  - win.exe --script ../install.qs
  - cd c://openstudio/
  - git clone https://github.com/NREL/OpenStudio-resources.git
  - cd bin/
  - openstudio.exe ../OpenStudio-resources/model_tests.rb"
  allow_failure: true # To allow for CTest failures above

