# These files are text and should be normalized (convert crlf =&gt; lf)
*.cpp       text
*.hpp       text
*.i         text
*.rb        text
*.txt       text
*.md        text
*.in        text
*.cmake     text
*.qrc       text
*.qss       text
*.xml       text
*.idd       text
*.idf       text
*.osm       text
*.js        text
*.cs        text
*.sln       text
*.csproj    text
*.resx      text
*.settings  text
*.yaml      text
*.java      text
*.py        text
*.json      text
*.epw       text
*.amy       text
*.ddy       text
*.ISO       text
*.ill       text
*.file      text
*.sh        text
*.ies       text
*.csv       text
*.html      text
*.R         text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.doc     binary
*.docx    binary
*.xlsx    binary
*.pdf     binary
*.EAP     binary
*.png     binary
*.jpg     binary
*.icns    binary
*.ico     binary
*.rsrc    binary
*.bmp     binary
*.osp     binary
*.db      binary
*.skp     binary
*.zip     binary
*.gz      binary
*.so      binary
*.dll     binary
*.exe     binary