/BUILD*/
*~
.#*
\#*#
*-core
*.[oa]
*.BAK
*.bak
*.class
*.exe
*.gz
*.pyc
*.so
*.so.*
*.tmp
*.zip
TAGS
/archive/
/autom4te.cache/
/distrib/
/geodesic-papers/
/geoids-distrib/
/gravity-distrib/
/gravity-installer/
/gravity/
/magnetic-distrib/
/magnetic-installer/
/magnetic/
/scratch/
/testdata/
/tests/
stamp-h1
