[Desktop Entry]
Type=Application
Name=OpenStudioApp
Comment=OpenStudio Application for Energy Modeling
Comment[fr]=Application OpenStudio pour la modélisation énergétique
Exec=/usr/local/bin/OpenStudioApp %u
Icon=openstudioapp
Terminal=false
Categories=Utility;X-OpenStudio;X-EnergyModeling;
MimeType=application/x-openstudio;

