[data-column="multiplier"] {
  display: none;
}
.ground-props-drawer {
  display: none;
}
.editable-select-list option[value="pitched_roofs"] {
  display: none;
}
[data-column="pitched_roof_id"] {
  display: none;
}