development:
  sessions:
    default:
      database: openstudio_server_development
      hosts:
        - SERVER_IP:27017
      options:
        allow_dynamic_fields: true 
        raise_not_found_error: false