
body {
background-color:#ddf;
/*background-image:url(../back6.jpg);*/
margin:10px 10px 10px 10px;
}

h1 {
font-family:verdana, sans-serif;
font-size:80%;
color:black;
background-color:transparent;
text-align:left;
}
h2 {
font-family:verdana, sans-serif;
font-size:100%;
color:black;
background-color:transparent;
text-align:left;
}
h3 {
font-family:verdana, sans-serif;
font-size:80%;
color:black;
background-color:transparent;
text-align:left;
}
p {
font-family:verdana, sans-serif;
font-size:80%;
color:black;
background-color:transparent;
text-align:left;
margin-left:0px;
margin-right:0px;
}
li {
font-family:verdana, sans-serif;
font-size:80%;
color:black;
background-color:transparent;
text-align:left;
margin-left:0px;
margin-right:0px;
}
a:link {
font-family:verdana, sans-serif;
font-size:100%;
color:black;
background-color:transparent;
text-decoration:underline;
}
a:visited {
font-family:verdana, sans-serif;
font-size:100%;
color:black;
background-color:transparent;
text-decoration:underline;
}
a:hover {
font-family:verdana, sans-serif;
font-size:100%;
color:black;
background-color:transparent;
text-decoration:underline;
}

table {
border-color:transparent;
border-style:solid;
border-width:1px;
}

td {
font-family:verdana, sans-serif;
font-size:80%;
color:black;
text-align:left;
background-color:transparent;
border-color:transparent;
border-style:solid;
border-width:1px;
}

.tout {
	margin: 5px;
	padding: 0px;
	border: 2px solid #aac;
	background: #eef;
	}
	
.prot {
border-style:solid; 
border-width:2px; 
border-color:#88F;
padding: 4px; 
background-color:#cce;
margin: 5px 5px 5px 5px;
}

.ex {
border-style:solid; 
border-width:2px; 
border-color:#aaF;
padding: 4px; 
background-color:#dde;
margin: 5px 5px 5px 5px;
}
.desc {
border-style:solid; 
border-width:3px; 
border-color:#66F;
padding: 4px; 
background-color:#aac;
margin: 15px 5px 20px 5px;
}

#titre {
	margin: 5px;
	padding: 0px;
	border: 5px solid #aac;
	background: #eef;
	}

#gauche {
	float:left;
	margin: 5px;
	padding: 4px;
	border: 5px solid #aac;
	background: #bbf;
	width: 130px;
	}

#droite {
	position: relative;
	top:5px;
	left:165px;
        margin: 5px 170px 5px 5px;
	padding: 10px;
	border: 5px solid #aac;
	background: #bbf;
}

/* boutons */

a.bouton:link{
width:128px;
height:34px;
text-decoration:none;
color:#aaa;
text-align:center;
font-weight:bold;
/*background-color:#444;*/
background-image:url(noclicked.png);
}

a.bouton:visited{
width:128px;
height:34px;
text-decoration:none;
color:#aaa;
text-align:center;
font-weight:bold;
/*background-color:#444;*/
background-image:url(noclicked.png);
}

a.bouton:hover{
width:128px;
height:34px;
text-decoration:none;
color:white;
text-align:center;
font-weight:bold;
/*background-color:#888;*/
background-image:url(clicked.png);
}

.bouton{
 text-align:center;
display:block;
}

