@charset "utf-8";
/* CSS Document */



h2 {font-size: 105%;}
h3 {font-size: 90%;}

div#content {width:1000px;}
div#column-center {width:780px;}
div#column-nonav{width:1000px;}
div.hpcontent {padding-top:18px;}
h4.comments {width:100%; font-size:85%; text-align:right; padding-top:6px;}
p#version { margin:24px auto 0 auto; padding:0; clear:both; text-align:center;  color:#555;}



#downloadButton{
	background-image:url(../images/button3.png);
	background-repeat:no-repeat;
	background-position:top;
	display:block;
	height:34px;
	width:245px;
	padding-top:50px;
	text-align:center;
	padding-bottom:0px;
}



#calloutBG{
background-image:url(../images/bg.png);
background-repeat:no-repeat;
height:400px;
}

#calloutBG a:link, #calloutBG a:visited {
text-decoration:none;
font-weight:bolder;
color:#0067b7;
}

#calloutBG a:hover {
text-decoration:underline;
color:#cc6600;
}

.nounderline{
	text-decoration:none;
	color:#cc6600;
}
